/* import Local SCSS files */
/* break point*/
/* Setting Variables : Font Family */
/* Setting Variables : Text Color */
/* Setting Variables : Object Color */
/* Google Web Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #FFFFFF;
  position: relative;
}

.inner-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}
@media (max-width: 1200px) {
  .inner-container {
    width: 100%;
    padding: 0 25px;
  }
}
@media (max-width: 767px) {
  .inner-container {
    padding: 0 10px;
  }
}

.blind {
  font-size: 0;
  text-indent: -9999px;
}

.career {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.career.on {
  display: block;
}
@media (max-width: 1400px) {
  .career {
    padding: 0;
  }
}
.career .inner-container {
  background-color: #FFFFFF;
}
.career .tit {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 54px;
  color: #000000;
  padding: 50px 0;
  position: relative;
}
@media (max-width: 767px) {
  .career .tit {
    font-size: 40px;
  }
}
.career .list-box {
  border-top: 1px solid #EEEEEE;
}
.career .list-box .list-tit {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #000000;
  padding: 30px 0;
}
@media (max-width: 767px) {
  .career .list-box .list-tit {
    font-size: 24px;
  }
}
.career .list-box .item-wrap {
  display: flex;
}
@media (max-width: 767px) {
  .career .list-box .item-wrap {
    flex-direction: column;
  }
}
.career .list-box .item-wrap .list-item.left-list {
  width: 30%;
}
@media (max-width: 767px) {
  .career .list-box .item-wrap .list-item.left-list {
    width: 100%;
  }
}
.career .list-box .item-wrap .list-item.right-list {
  width: 70%;
}
@media (max-width: 767px) {
  .career .list-box .item-wrap .list-item.right-list {
    width: 100%;
  }
}
.career .list-box .item-wrap .list-item.right-list ul {
  padding-bottom: 20px;
}
.career .list-box .item-wrap .list-item.right-list ul.p-line li {
  position: relative;
  padding: 5px 0 5px 25px;
}
.career .list-box .item-wrap .list-item.right-list ul.p-line li::before {
  display: none;
}
.career .list-box .item-wrap .list-item.right-list ul.p-line li .num {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.career .list-box .item-wrap .list-item.right-list ul li {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 5px 0 5px 10px;
  position: relative;
  color: #000;
}
.career .list-box .item-wrap .list-item.right-list ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 5px;
  height: 2px;
  background-color: #999999;
}
.career .list-box .item-wrap .list-item em {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  margin-bottom: 10px;
  display: block;
}
.career .list-box .item-wrap .list-item em span {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
  display: block;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .career .list-box .item-wrap .list-item em {
    margin: 10px 0 20px;
  }
}